<link rel="stylesheet" type="text/css" href="/public/stylesheets/footer.css">
  <footer class="footer bottom_border">
    <div class="container text-center">
      <img src="/public/images/logo.jpg" alt="logo">
      <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
          <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><i class="fa fa-location-arrow"></i> 9878/25 Amsterdam 35 </p>
          <p><i class="fa fa-phone"></i>  +33-223339878398  </p>
          <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
        </div>

        <div class=" col-sm-4 col-md  col-6 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
          <ul class="footer_ul_amrc">
            <li><a href="#">Topic One</a></li>
            <li><a href="#">Topic Two</a></li>
            <li><a href="#">Topic Three</a></li>
          </ul>
        </div>

        <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
          <ul class="footer_ul2_amrc">
            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
            <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="foote_bottom_ul_amrc">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <p class="text-center">Copyright @2018 | Designed by <strong>Luciana Mendonça</strong></p>

      <ul class="social_footer_ul">
        <li><a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
