<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">E-Learning Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/classes"><i class="fas fa-home"></i> Courses <span class="sr-only">(current)</span></a>
      </li>
      <!--If user is logged in-->
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-pencil-alt"></i> Dashboard</a>
        </li>
      {{/if}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{#unless user}}
            <a class="dropdown-item" href="/users/signup">Sign Up</a>
            <a class="dropdown-item" href="/users/signin">Sign in</a>
          {{/unless}}
          {{#if user}}
            <a class="dropdown-item" href="/users/logout">Logout</a>
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
</nav>
