<div class="banner"></div>
<div>
  {{#if user}}
    <div class="jumbotron">
      <h1>Welcome back, {{user.username}}!</h1>
      <br />
      <a href="/{{type}}s/classes" role="button" class="btn btn-custom">Dashboard</a>
    </div>
  {{else}}
    <div class="jumbotron">
      <h1>Welcome To E-learn</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer <em>adipiscing elit</em>, sed diam nonummy nibh euismod
      tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
      nostrud exerci tation <strong>ullamcorper suscipit lobortis</strong> nisl ut aliquip ex ea commodo consequat.
      Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
      <div class="text-center">
        <a href="/users/signup" role="button" class="btn btn-custom">Sign up for free</a>
      </div>
    </div>
  {{/if}}
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-1">
        <img src="https://res.cloudinary.com/di7m4tijz/image/upload/v1543584010/code-flat_qujzju.png" />
        <h4 class="my-4 font-weight-bold">Programming</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
      </div>
      <div class="col-md-4 mb-1">
        <img src="https://res.cloudinary.com/di7m4tijz/image/upload/c_scale,w_256/v1543584037/1024px-Circle-icons-computer.svg_dhnpn6.png">
        <h4 class="my-4 font-weight-bold">Programming</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
      </div>
      <div class="col-md-4 mb-1">
        <img src="https://res.cloudinary.com/di7m4tijz/image/upload/v1543585403/seo-web-code_razgvd.ico">
        <h4 class="my-4 font-weight-bold">Programming</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam,
            aperiam minima
            assumenda deleniti hic.</p>
      </div>
    </div>
    <br />
    <hr />
  </div>
  <div>
    {{> classes }}
  </div>
</div>
