<div class="container-fluid h-100">
     <div class="row h-100">
       <main class="col bg-faded py-3">
         <span class="text-center">
           <h1>{{student.first_name}}'s Dashboard</h1>
         </span>
         <div class="container">
           <table class="table box-wrapper text-center">
             <thead class="" style="background-color: #b8bad6;">
               <tr>
                 <th scope="col">Class Name</th>
                 <th scope="col">All Lessons</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
               {{#each student.classes}}
                 <tr>
                   <td>{{class_title}}</td>
                   <td><a href="/classes/{{class_id}}/lessons" class="cool-link">View Lessons</a></td>
                 </tr>
               {{/each}}
             </tbody>
           </table>
         </div>
       </main>
     </div>
   </div>
