@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');

body {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 5%;
  font-size: 4rem;
  text-align: center;
  color: #b8bad6;
  font-family: 'Yesteryear', cursive;
}

.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg2.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.box div{
  font-size: 1.4rem;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5%;
  text-align: justify;
  box-shadow: 10px 10px 10px 7px rgba(0,0,0,.7);
}

.box-wrapper {
  font-size: 1.4em;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5%;
  text-align: justify;
  box-shadow: 10px 10px 10px 7px rgba(0,0,0,.7);
}
