<div class="container" style="margin-top: 5%;">
  <h1>{{title}}</h1>
  <div class="row box">
    {{#each classes}}
    <div class="col-md-5 col-md-offset-2">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <a class="button cool-link" href="/classes/{{_id}}/details">Details</a>
    </div>
    {{/each}}
  </div>
</div>
