<div class="container box-wrapper" style="margin-top: 5%;">
  <h5 style="float:right;">{{class.title}}</h5>
  <br />
  <span class="text-center"><h2>{{lesson.lesson_title}}</h2></span>
  <br />
  <div>
    {{lesson.lesson_body}}
  </div>
  <br />
  <a href="/classes/{{class._id}}/lessons">Back to lessons</a>
</div>
